<header>
  <h2 class="text-center">Recipe Calculator</h2>
</header>

<main>
  <form action="" method="POST" class="container">
    <fieldset class="container">
      <div class="ingredient-menus">
      </div>
    </fieldset>

    <button type="submit" id="calculate">Calculate</button>
  </form>
</main>

<%# <script type="text/javascript" src="index.js"></script> %>
